<!doctype html>
<html>
<head>
	<title>Answer sheet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/manual.css" >
</head>
<body>
<h3>Правильные ответы на яти:</h3>
<h5>Почему программа ничего не проверяет? Потому что я не успела :с</h5>
<p>бѣсъ;<br>
убѣжать;<br>
море;<br>
батарея;<br>
конвертъ;<br>
бѣлый;<br>
кремъ;<br>
въ водѣ;<br>
мнѣ;<br>
всѣмъ.</p>
<h3>Ваши ответы:</h3>
<p>{% for i in x_arr %}
{{i}}<br>
{%endfor%}
</p>
<!-- JS код -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>