<!doctype html>
<html>
<head>
	<title>Transliteration and otvaga</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/manual.css" >
</head>
<body>
<div class="row"><h1>Транслитератор существительных в дореволюционную орфографию</h1></div>
<div class="row"><h3>Почему только существительных? Потому что это всё, что я успела :с Надеюсь, мои усилия не пошли прахом и я получу хотя бы два балла за это.</h3></div>
<div class = "row"><form>
<label>Введите Ваше существительное в любом числе и падеже и нажмите enter:
<input name='word' value='' type='text'></label>
</form></div>
<!-- JS код -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>