<!doctype html>
<html>
<head>
	<title>Test your yat'</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/manual.css" >
</head>
<body>
Проверить свои знания ятей
<div class="row">
<form>
<span class="col-lg-6 col-md-6 col-sm-6">

<label>
	<input name='devil' value='бесъ' type='radio'>бесъ<br>
	<input name='devil' value='бѣсъ' type='radio'>бѣсъ
</label>
<br />


<label>
	<input name='runaway' value='убежать' type='radio'>убежать<br>
	<input name='runaway' value='убѣжать' type='radio'>убѣжать
</label>
<br />

<label>
	<input name='sea' value='море' type='radio'>море<br>
	<input name='sea' value='морѣ' type='radio'>морѣ
</label>
<br />

<label>
	<input name='battery' value='батарея' type='radio'>батарея<br>
	<input name='battery' value='батарѣя' type='radio'>батарѣя
</label>
<br />

<label>
	<input name='envelop' value='конвертъ' type='radio'>конвертъ<br>
	<input name='envelop' value='конвѣртъ' type='radio'>конвѣртъ
</label>
<br />

<label>
	<input name='white' value='белый' type='radio'>белый<br>
	<input name='white' value='бѣлый' type='radio'>бѣлый
</label>
<br />

<label>
	<input name='creme' value='кремъ' type='radio'>кремъ<br>
	<input name='creme' value='крѣмъ' type='radio'>крѣмъ
</label>
<br />

<label>
	<input name='water' value='въ воде' type='radio'>въ воде<br>
	<input name='water' value='въ водѣ' type='radio'>въ водѣ
</label>
<br />

<label>
	<input name='me' value='мне' type='radio'>мне<br>
	<input name='me' value='мнѣ' type='radio'>мнѣ
</label>
<br />

<label>
	<input name='everyone' value='всемъ' type='radio'>всемъ<br>
	<input name='everyone' value='всѣмъ' type='radio'>всѣмъ
</label>
<br />

<label>
	<input name='fort' value='крепость' type='radio'>крепость<br>
	<input name='fort' value='крѣпость' type='radio'>крѣпость
</label>
<br />

<label><input type='submit' value='Готово!'></label>
</span>
</form>
</div>
<!-- JS код -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>