<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Анкета респондента</title>
</head>
<body>
<h1>Расскажите нам о себе:</h1>
<form>
<label>Как Вас зовут?
<input name='name' type='text' value=''></label><br>
<label>Сколько Вам лет?
<input name='age' type='text' value=''></label><br>
<label>Из какого Вы города?
<input name='region' type='text' value=''></label><br>
<label>Укажите Ваш пол:<br>
<input name='sex' type='radio' value='мужской'>мужской<br>
<input name='sex' type='radio' value='женский'>женский<br>
<input name='sex' type='radio' value='(шутка про Маккартни)'>(шутка про Маккартни)</label><br>
<label>Укажите Ваше образование:<br>
<input name='edu' type='radio' value='начальное школьное'>начальное школьное<br>
<input name='edu' type='radio' value='основное общее'>основное общее (8 классов для 10-летней системы, 9 классов для 11-летней системы)<br>
<input name='edu' type='radio' value='среднее полное'>среднее полное (окончил(а) школу)<br>
<input name='edu' type='radio' value='среднее профессиональное'>среднее профессиональное (окончил(а) <s>ПТУ</s> колледж)<br>
<input name='edu' type='radio' value='неоконченное высшее'>неоконченное высшее<br>
<input name='edu' type='radio' value='высшее (бакалавриат / специалитет)'>высшее (бакалавриат / специалитет)<br>
<input name='edu' type='radio' value='высшее (магистратура, аспирантура и выше)'>высшее (магистратура, аспирантура и выше)</label><br>
<br><br>
<h1>Теперь расскажите нам о своих лингвистических предпочтениях:</h1>
<h3>Какой порядок слов кажется Вам более предпочтительным?</h3>
<label>Что бы Вы сказали об улице, названной в честь Ленина?<br>
<input name='lenin' type='radio' value='ns'>(имени) Ленина улица<br>
<input name='lenin' type='radio' value='sn'>улица (имени) Ленина<br>
</label><br>
<label>Что бы Вы сказали об улице, которая называется Гороховая?<br>
<input name='goroh' type='radio' value='ns'>Гороховая улица<br>
<input name='goroh' type='radio' value='sn'>улица Гороховая<br>
</label><br>
<label>Что бы Вы сказали о переулке, который называется Столярным?<br>
<input name='stoliar' type='radio' value='ns'>Столярный переулок<br>
<input name='stoliar' type='radio' value='sn'>переулок Столярный<br>
</label><br>
<label>Что бы Вы сказали об улице, которая называется Верхняя?<br>
<input name='verh' type='radio' value='ns'>Верхняя улица<br>
<input name='verh' type='radio' value='sn'>улица Верхняя<br>
</label><br>
<label>Что бы Вы сказали о переулке, который называется Западным?<br>
<input name='zapad' type='radio' value='ns'>Западный переулок<br>
<input name='zapad' type='radio' value='sn'>переулок Западный<br>
</label><br>
<label>Что бы Вы сказали о проезде, который называется Черепичным?<br>
<input name='cherep' type='radio' value='ns'>Черепичный проезд<br>
<input name='cherep' type='radio' value='sn'>проезд Черепичный<br>
</label><br>
<label>Что бы Вы сказали о проспекте, который называется Невским?<br>
<input name='neva' type='radio' value='ns'>Невский проспект<br>
<input name='neva' type='radio' value='sn'>проспект Невский<br>
</label><br>
<label>Что бы Вы сказали о проспекте, который называется Красным?<br>
<input name='red' type='radio' value='ns'>Красный проспект<br>
<input name='red' type='radio' value='sn'>проспект Красный<br>
</label><br>
<label>Что бы Вы сказали об улице, имеющей лишь номер - 35?<br>
<input name='35' type='radio' value='ns'>тридцать пятая улица<br>
<input name='35' type='radio' value='sn'>улица (номер) тридцать пять<br>
</label><br>
<label><input type='submit' value='Отправить'></label><br>
</form> 
</body>
</html>